Load the dataset into a pandas data frame.



Plotly Express Visualizations Links to an external site. (30 points)
Create a box plot Links to an external site. comparing the distribution of Spending Score across different age groups (e.g., 20-30, 31-40, etc.)  (10 points)
Create a pie chart Links to an external site. showing the distribution of customers by Profession (10 points)
Create a 3D scatter Links to an external site. plot based on the Annual Income, Work Experience and Spending Score, coloured by Gender (10 points)

Bokeh Visualizations Links to an external site. (30 points)
Create an interactive scatter plot Links to an external site. showing Annual Income on the x-axis and Spending Score on the y-axis. Include tooltips displaying customer ID, Age, and Gender (10 points)
Create a stacked bar chart Links to an external site. showing the distribution of Spending Score categories (low, medium, high) within each age group (10 points)
Create a pie chart Links to an external site. showing the count of customers in each age group (e.g., 20-30, 31-40, etc.) (10 points)

In [1]:
import pandas as pd

In [20]:
cus_df = pd.read_csv('/Users/sahiyo/PycharmProjects/Data/Customers.csv')

Analyze the data (10 points)
Check for the number of rows and columns in the dataset
Check for the data type of all the variables in the dataset
Check for duplication to identify the continuous and categorical values in your dataset
Check for missing values and drop them if necessary

In [5]:
cus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              2000 non-null   int64
 1   Gender                  2000 non-null   object
 2   Age                     2000 non-null   int64
 3   Annual Income ($)       2000 non-null   int64
 4   Spending Score (1-100)  2000 non-null   int64
 5   Profession              1965 non-null   object
 6   Work Experience         2000 non-null   int64
 7   Family Size             2000 non-null   int64
dtypes: int64(6), object(2)
memory usage: 125.1+ KB

In [6]:
cus_dup = cus_df.duplicated()

In [11]:
for i in cus_df.columns:
    print(i," : ",cus_df.duplicated(subset=i).sum())

CustomerID  :  0
Gender  :  1998
Age  :  1900
Annual Income ($)  :  214
Spending Score (1-100)  :  1899
Profession  :  1990
Work Experience  :  1982
Family Size  :  1991

In [12]:
for i in cus_df.columns:
    print(i," : ",cus_df[i].unique())

CustomerID  :  [   1    2    3 ... 1998 1999 2000]
Gender  :  ['Male' 'Female']
Age  :  [19 21 20 23 31 22 35 64 30 67 58 24 37 52 25 46 54 29 45 40 60 53 18 49
 42 36 65 48 50 27 33 59 47 51 69 70 63 43 68 32 26 57 38 55 34 66 39 44
 28 56 41 16 76 62 80  1  0 86 79 83 95 93 78 15  6 84  4 91 14 92 77 89
 12  7 94 96 74 85 73  9 10 11 17 90 61 13 72  5 75 99 88 82  8 87  3 97
 81 98  2 71]
Annual Income ($)  :  [ 15000  35000  86000 ...  90961 182109 110610]
Spending Score (1-100)  :  [ 39  81   6  77  40  76  94   3  72  14  99  15  13  79  35  66  29  98
  73   5  82  32  61  31  87   4  92  17  26  75  36  28  65  55  47  42
  52  60  54  45  41  50  46  51  56  59  48  49  53  44  57  58  43  91
  95  11   9  34  71  88   7  10  93  12  97  74  22  90  20  16  89   1
  78  83  27  63  86  69  24  68  85  23   8  18   0  33  70  37  64  30
  96   2  38  21  84  62  80 100  67  19  25]
Profession  :  ['Healthcare' 'Engineer' 'Lawyer' 'Entertainment' 'Artist' 'Executive'
 'Doctor' 'Homemaker' 'Marketing' nan]
Work Experience  :  [ 1  3  0  2  4  9 12 13  5  8 14  7  6 10 11 15 16 17]
Family Size  :  [4 3 1 2 6 5 8 7 9]

In [14]:
print(cus_df.isnull().sum())

print(cus_df.isna().sum())

CustomerID                 0
Gender                     0
Age                        0
Annual Income ($)          0
Spending Score (1-100)     0
Profession                35
Work Experience            0
Family Size                0
dtype: int64
CustomerID                 0
Gender                     0
Age                        0
Annual Income ($)          0
Spending Score (1-100)     0
Profession                35
Work Experience            0
Family Size                0
dtype: int64

In [15]:
cus_df[cus_df.isnull()]

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
cus_df_new = cus_df.dropna()
print(cus_df.shape)
print(cus_df_new.shape)

(2000, 8)
(1965, 8)

Altair Visualizations Links to an external site. (30 points)
Create a scatter plot Links to an external site. showing the relationship between Annual Income and Spending Score, coloured by Family Size (3 or less, Greater than 3) (10 points) 
Create a histogram Links to an external site. of Income distribution, with bins based on income ranges (10 points)
Create a heatmap Links to an external site. showing the correlation matrix between Age, Income, and Spending Score (10 points)