In [1]:
import pandas as pd
import datetime

# tendency of visitors

In [2]:
df_tendency = pd.read_csv('/Users/sahiyo/PycharmProjects/Data/data_finalProject/monthly_on_visitors.csv')
df_tendency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49668 entries, 0 to 49667
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Area      49668 non-null  object
 1   Month (abbr)      49668 non-null  object
 2   Year              49668 non-null  int64
 3   Visitor Arrivals  49641 non-null  object
 4   Growth Rate(%)    46732 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.9+ MB

In [3]:
df_tendency.head()

  Country/Area Month (abbr)  Year Visitor Arrivals Growth Rate(%)
0  Afghanistan         Jan.  2012              204  -93.525864805
1  Afghanistan         Feb.  2012              152  -95.490952240
2  Afghanistan         Mar.  2012              131  -95.931677019
3  Afghanistan         Apr.  2012              141  -96.276736203
4  Afghanistan          May  2012              150  -94.309559939

In [4]:
df_tendency['date'] = pd.to_datetime(df_tendency['Year'].astype(str) + '-' + df_tendency['Month (abbr)'] + '-01')
df_tendency.head()

  Country/Area Month (abbr)  Year Visitor Arrivals Growth Rate(%)       date
0  Afghanistan         Jan.  2012              204  -93.525864805 2012-01-01
1  Afghanistan         Feb.  2012              152  -95.490952240 2012-02-01
2  Afghanistan         Mar.  2012              131  -95.931677019 2012-03-01
3  Afghanistan         Apr.  2012              141  -96.276736203 2012-04-01
4  Afghanistan          May  2012              150  -94.309559939 2012-05-01

In [5]:
df_tendency.info() # check whether it was changed correctly or not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49668 entries, 0 to 49667
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Area      49668 non-null  object
 1   Month (abbr)      49668 non-null  object
 2   Year              49668 non-null  int64
 3   Visitor Arrivals  49641 non-null  object
 4   Growth Rate(%)    46732 non-null  object
 5   date              49668 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 2.3+ MB

In [6]:
df_tendency.isnull().sum() # Check the missing value

Country/Area           0
Month (abbr)           0
Year                   0
Visitor Arrivals      27
Growth Rate(%)      2936
date                   0
dtype: int64

In [7]:
df_tendency[df_tendency.isnull().any(axis=1)]
# Given that result, I can ignore the null value.

,Country/Area,Month (abbr),Year,Visitor Arrivals,Growth Rate(%),date
112,Afghanistan,May,2021,121,NaN,2021-05-01
244,Albania,May,2020,0,NaN,2020-05-01
387,Algeria,Apr.,2020,0,NaN,2020-04-01
388,Algeria,May,2020,0,NaN,2020-05-01
389,Algeria,Jun.,2020,0,NaN,2020-06-01
...,...,...,...,...,...,...
49501,Zambia,Feb.,2022,5,NaN,2022-02-01
49623,Zimbabwe,Apr.,2020,3,NaN,2020-04-01
49624,Zimbabwe,May,2020,0,NaN,2020-05-01
49625,Zimbabwe,Jun.,2020,1,NaN,2020-06-01
49626,Zimbabwe,Jul.,2020,2,NaN,2020-07-01

In [8]:
df_tendency[df_tendency.duplicated()]
# output no duplicated

Empty DataFrame
Columns: [Country/Area, Month (abbr), Year, Visitor Arrivals, Growth Rate(%), date]
Index: []

In [9]:
df_tendency = df_tendency[['Country/Area','Visitor Arrivals','date']]

In [10]:
df_tendency.columns = [['Country','NoVisitors','Date']]

In [11]:
df_tendency.head()

       Country NoVisitors       Date
0  Afghanistan        204 2012-01-01
1  Afghanistan        152 2012-02-01
2  Afghanistan        131 2012-03-01
3  Afghanistan        141 2012-04-01
4  Afghanistan        150 2012-05-01

In [12]:
df_tendency.to_csv('df_tendency.csv')

# exchange_rates_df

In [13]:
# I  get the data with Web site API.

import yfinance as yf

currency_pairs = ['USDJPY=X', 'EURJPY=X', 'GBPJPY=X', 'CNYJPY=X']

start_date = '2012-01-01'
end_date = '2024-04-01'


daily_dates = pd.date_range(start=start_date, end=end_date)
exchange_rates_df = pd.DataFrame(index=daily_dates, columns=currency_pairs)


for pair in currency_pairs:
    data = yf.download(pair, start=start_date, end=end_date)
    if not data.empty:
        exchange_rates_df[pair] = data['Adj Close']

exchange_rates_df.dropna(inplace=True)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [14]:
exchange_rates_df.isnull().sum() # check the null

USDJPY=X    0
EURJPY=X    0
GBPJPY=X    0
CNYJPY=X    0
dtype: int64

In [15]:
exchange_rates_df.columns

Index(['USDJPY=X', 'EURJPY=X', 'GBPJPY=X', 'CNYJPY=X'], dtype='object')

In [16]:
exchange_rates_df.index = exchange_rates_df.index.strftime('%Y-%m-%d')
exchange_rates_df.columns = [['USD','EUR','GBP','CNY']]

In [17]:
exchange_rates_df.head()

                  USD         EUR         GBP     CNY
2012-01-02  77.019997   99.610001  119.519997  12.191
2012-01-03  76.930000   99.531998  119.370003  12.226
2012-01-04  76.722000  100.146004  120.010002  12.175
2012-01-05  76.709999   99.190002  119.703003  12.171
2012-01-06  77.151001   98.707001  119.570000  12.237

In [18]:
exchange_rates_df.to_csv('exchange_rates.csv')