In [1]:
import pandas as pd
import datetime

# tendency of visitors

In [2]:
df_tendency = pd.read_csv('/Users/sahiyo/PycharmProjects/Data/data_finalProject/monthly_on_visitors.csv')
df_tendency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49668 entries, 0 to 49667
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Area      49668 non-null  object
 1   Month (abbr)      49668 non-null  object
 2   Year              49668 non-null  int64
 3   Visitor Arrivals  49641 non-null  object
 4   Growth Rate(%)    46732 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.9+ MB

In [3]:
df_tendency.head()

  Country/Area Month (abbr)  Year Visitor Arrivals Growth Rate(%)
0  Afghanistan         Jan.  2012              204  -93.525864805
1  Afghanistan         Feb.  2012              152  -95.490952240
2  Afghanistan         Mar.  2012              131  -95.931677019
3  Afghanistan         Apr.  2012              141  -96.276736203
4  Afghanistan          May  2012              150  -94.309559939

In [4]:
df_tendency['date'] = pd.to_datetime(df_tendency['Year'].astype(str) + '-' + df_tendency['Month (abbr)'] + '-01')
df_tendency.head()

  Country/Area Month (abbr)  Year Visitor Arrivals Growth Rate(%)       date
0  Afghanistan         Jan.  2012              204  -93.525864805 2012-01-01
1  Afghanistan         Feb.  2012              152  -95.490952240 2012-02-01
2  Afghanistan         Mar.  2012              131  -95.931677019 2012-03-01
3  Afghanistan         Apr.  2012              141  -96.276736203 2012-04-01
4  Afghanistan          May  2012              150  -94.309559939 2012-05-01

In [5]:
df_tendency.info() # check whether it was changed correctly or not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49668 entries, 0 to 49667
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Area      49668 non-null  object
 1   Month (abbr)      49668 non-null  object
 2   Year              49668 non-null  int64
 3   Visitor Arrivals  49641 non-null  object
 4   Growth Rate(%)    46732 non-null  object
 5   date              49668 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 2.3+ MB

In [6]:
df_tendency.isnull().sum() # Check the missing value

Country/Area           0
Month (abbr)           0
Year                   0
Visitor Arrivals      27
Growth Rate(%)      2936
date                   0
dtype: int64

In [7]:
df_tendency[df_tendency.isnull().any(axis=1)]
# Given that result, I can ignore the null value.

,Country/Area,Month (abbr),Year,Visitor Arrivals,Growth Rate(%),date
112,Afghanistan,May,2021,121,NaN,2021-05-01
244,Albania,May,2020,0,NaN,2020-05-01
387,Algeria,Apr.,2020,0,NaN,2020-04-01
388,Algeria,May,2020,0,NaN,2020-05-01
389,Algeria,Jun.,2020,0,NaN,2020-06-01
...,...,...,...,...,...,...
49501,Zambia,Feb.,2022,5,NaN,2022-02-01
49623,Zimbabwe,Apr.,2020,3,NaN,2020-04-01
49624,Zimbabwe,May,2020,0,NaN,2020-05-01
49625,Zimbabwe,Jun.,2020,1,NaN,2020-06-01
49626,Zimbabwe,Jul.,2020,2,NaN,2020-07-01

In [8]:
df_tendency[df_tendency.duplicated()]
# output no duplicated

Empty DataFrame
Columns: [Country/Area, Month (abbr), Year, Visitor Arrivals, Growth Rate(%), date]
Index: []

In [9]:
df_tendency = df_tendency[['Country/Area','Visitor Arrivals','date']]

In [10]:
df_tendency.columns = [['Country','NoVisitors','Date']]

In [11]:
df_tendency.head()

       Country NoVisitors       Date
0  Afghanistan        204 2012-01-01
1  Afghanistan        152 2012-02-01
2  Afghanistan        131 2012-03-01
3  Afghanistan        141 2012-04-01
4  Afghanistan        150 2012-05-01

In [12]:
df_tendency.to_csv('df_tendency.csv')

# exchange_rates_df

In [2]:
# I  get the data with Web site API.

import yfinance as yf

currency_pairs = ['USDCAD=X', 'EURCAD=X', 'GBPCAD=X', 'CNYCAD=X']

start_date = '2012-01-01'
end_date = '2024-04-13'


daily_dates = pd.date_range(start=start_date, end=end_date)
exchange_rates_df = pd.DataFrame(index=daily_dates, columns=currency_pairs)


for pair in currency_pairs:
    data = yf.download(pair, start=start_date, end=end_date)
    if not data.empty:
        exchange_rates_df[pair] = data['Adj Close']

exchange_rates_df.dropna(inplace=True)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [10]:
import pandas as pd
import yfinance as yf

currency_pairs = ['CADJPY=X', 'USDJPY=X', 'EURJPY=X', 'GBPJPY=X']


start_date = '2012-01-01'
end_date = '2024-04-13'

daily_dates = pd.date_range(start=start_date, end=end_date)
exchange_rates_df = pd.DataFrame(index=daily_dates, columns=currency_pairs)

for pair in currency_pairs:
    data = yf.download(pair, start=start_date, end=end_date)
    if not data.empty:
        exchange_rates_df[pair] = data['Adj Close']

exchange_rates_df.dropna(inplace=True)

formatted_data = pd.melt(exchange_rates_df.reset_index(), id_vars=['index'], value_vars=currency_pairs, var_name='currency_pair', value_name='price')
formatted_data['currency_name'] = formatted_data['currency_pair'].str.replace('JPY=X', '')
formatted_data.drop(columns=['currency_pair'], inplace=True)
formatted_data.columns = ['date', 'price', 'currency_name']

print(formatted_data)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

            date       price currency_name
0     2012-01-02   75.639999           CAD
1     2012-01-03   75.579002           CAD
2     2012-01-04   75.849998           CAD
3     2012-01-05   75.660004           CAD
4     2012-01-06   75.639999           CAD
...          ...         ...           ...
12795 2024-04-08  191.500000           GBP
12796 2024-04-09  192.184998           GBP
12797 2024-04-10  192.399994           GBP
12798 2024-04-11  191.740005           GBP
12799 2024-04-12  190.858994           GBP

[12800 rows x 3 columns]

In [11]:
formatted_data.isnull().sum() # check the null

date             0
price            0
currency_name    0
dtype: int64

In [12]:
formatted_data.head()

        date      price currency_name
0 2012-01-02  75.639999           CAD
1 2012-01-03  75.579002           CAD
2 2012-01-04  75.849998           CAD
3 2012-01-05  75.660004           CAD
4 2012-01-06  75.639999           CAD

In [13]:
formatted_data.to_csv('exchange_rates.csv')

In [23]:
df_area = pd.read_csv('/Users/sahiyo/PycharmProjects/Data/data_finalProject/area.csv')
df_area.head()
df_area.columns = [['Region','Year','No of Guests']]
df_area.to_csv('df_area.csv')

In [22]:
df_pre = pd.read_csv('/Users/sahiyo/PycharmProjects/Data/data_finalProject/each_prefecture.csv')
df_pre.head()
df_pre.columns = [['Prefecture','Rate']]
df_pre.to_csv('df_pre.csv')

In [53]:
data = {
    'Year': [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    'Jan': [40742, 41543, 45879, 52059, 49195, 55248, 55173, 58719, 61936, 53101, 53548, 48109, 5421, 21015, 39230],
    'Feb': [58944, 70770, 75748, 53236, 78316, 78236, 74507, 96411, 78900, 76520, 70857, 48533, 7084, 4857, 50131],
    'Mar': [76489, 86547, 73112, 80363, 87849, 106267, 107665, 111420, 99890, 101837, 83336, 27491, 26678, 41544, 75040],
    'Apr': [62035, 69949, 57489, 75979, 81714, 75242, 77539, 67498, 78121, 79120, 75705, 1802, 17128, 37198, 56205],
    'May': [116912, 131359, 128726, 122648, 133490, 131785, 146083, 81090, 131864, 112429, 119068, 0, 0, 66566, 89164],
    'Jun': [64982, 61044, 73912, 56822, 62303, 64596, 74063, 50269, 69754, 64247, 59299, 6090, 6415, 39050, 52528],
    'Jul': [52105, 56158, 57115, 52872, 54202, 56621, 81024, 59916, 60826, 49374, 43950, 11672, 18626, 33611, 40201],
    'Aug': [86596, 116774, 101290, 93737, 97540, 92211, 124873, 97940, 89730, 83608, 66005, 14864, 5783, 46088, 55042],
    'Sep': [90970, 93836, 88937, 74834, 80998, 82073, 113483, 99340, 71298, 76637, 57850, 24021, 10397, 44605, 53349],
    'Oct': [93845, 123515, 109282, 107251, 105784, 99875, 130965, 102862, 94714, 96386, 87290, 40015, 37147, 71116, 76955],
    'Nov': [86390, 105510, 100017, 99258, 95912, 112723, 116995, 102360, 94988, 101419, 80483, 60881, 61062, 85866, 81995],
    'Dec': [52800, 58410, 57778, 64601, 71241, 83325, 89668, 85821, 73322, 73819, 55435, 40852, 58765, 62529, 50623]
}

# DataFrameに変換
df_glover = pd.DataFrame(data)
df_glover = df_glover.melt(id_vars='Year', var_name='Month', value_name='Number')
df_glover['name'] = 'Glover Garden'

In [54]:
data = {
    'Year': [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    'Jan': [26185, 25778, 28871, 26707, 27475, 28835, 30778, 29732, 32454, 31593, 35301, 32848, 4249, 14342, 28572],
    'Feb': [29576, 38232, 36262, 27994, 30857, 33243, 34111, 37683, 36607, 34861, 37307, 29734, 4795, 2602, 34054],
    'Mar': [45102, 48192, 34871, 45016, 41857, 44552, 45941, 49176, 52670, 49242, 47818, 12719, 19792, 25427, 49025],
    'Apr': [42330, 43950, 33624, 44896, 44508, 43052, 50523, 38390, 44588, 48051, 51854, 1106, 13835, 29371, 48915],
    'May': [97419, 101153, 101178, 96088, 101614, 96153, 102900, 61235, 103355, 95146, 104208, 0, 189, 64311, 103749],
    'Jun': [56722, 57542, 71145, 55244, 54495, 54849, 58033, 55391, 58127, 51824, 56386, 3932, 7050, 50022, 62641],
    'Jul': [38789, 35020, 33377, 34680, 34570, 37338, 43872, 43776, 44582, 34051, 39242, 8460, 18402, 29443, 39539],
    'Aug': [73203, 73711, 65550, 61203, 70732, 63207, 78406, 72943, 72253, 62110, 65575, 17066, 7704, 41518, 57791],
    'Sep': [57812, 60277, 56972, 49244, 54090, 60435, 64751, 69568, 56144, 52685, 53959, 22655, 6208, 47197, 56972],
    'Oct': [93121, 103511, 93413, 95852, 101053, 89427, 103680, 96153, 95464, 92334, 108372, 56079, 62215, 92594, 107478],
    'Nov': [67600, 72098, 70924, 72816, 66763, 80172, 80294, 82962, 75348, 82758, 89317, 64513, 91733, 98993, 105214],
    'Dec': [35418, 33927, 28648, 33370, 32924, 36458, 44651, 42027, 39757, 38962, 48433, 33663, 60412, 59133, 47974]
}

# DataFrameに変換
df_atomic = pd.DataFrame(data)
df_atomic = df_atomic.melt(id_vars='Year', var_name='Month', value_name='Number')
df_atomic['name'] = 'Atomic Bomb Museum'

In [55]:
data = {
    'Year': [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    'Jan': [14333, 14496, 14165, 17997, 19227, 20837, 20237, 19063, 26021, 30042, 27329, 24937, 2855, 11125, 25528],
    'Feb': [22406, 29028, 25465, 20159, 30289, 33363, 29773, 35877, 33395, 43553, 41324, 29642, 3718, 2753, 32116],
    'Mar': [27262, 31775, 24004, 31887, 37022, 38675, 39963, 37783, 45518, 51695, 44669, 17079, 16625, 26730, 48046],
    'Apr': [21918, 24692, 22032, 26120, 30400, 27506, 28234, 23448, 33448, 42528, 40496, 1103, 10505, 22496, 36066],
    'May': [51877, 58675, 56270, 52213, 57752, 55502, 59297, 35241, 66481, 65295, 71698, 0, 0, 41711, 56220],
    'Jun': [27770, 27455, 39460, 26154, 27308, 28077, 30145, 20625, 32391, 33574, 31792, 3663, 3823, 24553, 34680],
    'Jul': [19847, 20169, 20200, 20520, 21211, 21141, 24571, 20631, 26447, 24001, 23772, 8068, 11905, 21006, 25548],
    'Aug': [35313, 38450, 35746, 38416, 40710, 38753, 35928, 33965, 42778, 43254, 39892, 10303, 4060, 30320, 34635],
    'Sep': [36484, 36246, 35921, 33115, 36307, 38127, 39808, 38166, 38459, 44414, 36694, 16998, 5477, 30232, 31925],
    'Oct': [53531, 60131, 60007, 53485, 56114, 52673, 58973, 51625, 53546, 69005, 59687, 30995, 30753, 51561, 54257],
    'Nov': [43361, 43030, 42850, 50242, 49296, 55322, 48291, 54931, 57276, 60852, 54634, 44712, 51833, 61551, 55556],
    'Dec': [21484, 19931, 19085, 23499, 26661, 27836, 28164, 33433, 44585, 35768, 28824, 26234, 38010, 40908, 31086]
}

df_Dejima = pd.DataFrame(data)
df_Dejima = df_Dejima.melt(id_vars='Year', var_name='Month', value_name='Number')
df_Dejima['name'] = 'Dejima'

In [56]:
data = {
    'Year': [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    'Jan': [0, 0, 1356, 3872, 5423, 9087, 9575, 16646, 14672, 14995, 0, 0, 1242, 5188, 6250],
    'Feb': [0, 3769, 6178, 5358, 8651, 14522, 15261, 21234, 17343, 19778, 22357, 3829, 0, 311, 14155],
    'Mar': [0, 4755, 5541, 6713, 11139, 17379, 23822, 31096, 29819, 29835, 25873, 11064, 6656, 12172, 23827],
    'Apr': [0, 5731, 4368, 7198, 9488, 14256, 15647, 19257, 20446, 19869, 22798, 565, 4211, 12564, 11177],
    'May': [0, 8773, 10018, 11422, 14300, 20384, 27265, 19025, 31421, 27270, 27400, 0, 0, 17702, 19791],
    'Jun': [0, 5316, 4839, 5905, 8839, 15860, 22802, 14425, 23255, 21122, 22750, 352, 1164, 6657, 11294],
    'Jul': [0, 5407, 8528, 6306, 8330, 2725, 17830, 16436, 22322, 14878, 12587, 2547, 3774, 3055, 2567],
    'Aug': [0, 9262, 10279, 10858, 17383, 12147, 22184, 32621, 26609, 23260, 12841, 4436, 934, 6207, 18871],
    'Sep': [0, 10692, 12184, 8638, 17448, 22113, 29734, 23169, 25511, 23898, 11666, 0, 2385, 4005, 18621],
    'Oct': [0, 12529, 14529, 12894, 18665, 18191, 30718, 26470, 28408, 2740, 0, 6396, 10548, 19865, 23865],
    'Nov': [0, 10825, 10273, 10880, 18732, 24098, 28670, 31193, 32786, 0, 0, 17285, 12020, 23107, 18022],
    'Dec': [0, 3360, 4959, 3483, 13169, 13234, 23112, 21047, 16299, 0, 0, 13571, 5965, 12723, 13198]
}
df_hashima = pd.DataFrame(data)
df_hashima = df_hashima.melt(id_vars='Year', var_name='Month', value_name='Number')
df_hashima['name'] = 'Hashima'

In [61]:
df_facilities = pd.concat([df_atomic, df_Dejima, df_glover, df_hashima])
df_facilities['Date'] = pd.to_datetime(df_facilities['Year'].astype(str) + '-' + df_facilities['Month'] + '-01')

In [62]:
df_facilities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 720 entries, 0 to 179
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    720 non-null    int64
 1   Month   720 non-null    object
 2   Number  720 non-null    int64
 3   name    720 non-null    object
 4   Date    720 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 33.8+ KB

In [65]:
df_facilities = df_facilities[['name','Date','Number']]
df_facilities.to_csv('df_facilities.csv')