In [3]:
import pandas as pd

In [7]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [10]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Create a model based on the train data

In [12]:
# use only numeric data
train.dtypes

# int64 : integer it dosen't have digimal value
# float ; numeric

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [16]:
# use the data without Null
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [19]:
test.dtypes
# it doesn' t have survive column

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [20]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [24]:
# use the columns which is integer or numeric and doesn't have Null value
X  = train[["Pclass","SibSp","Parch"]] # of siblings / spouses aboard the Titanic
y  = train[["Survived"]]


# use Capital X as a variables name of the features.

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,y,random_state=0)

In [28]:
from sklearn.neighbors import KNeighborsClassifier
km = KNeighborsClassifier()
km.fit(X_train,y_train)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [29]:
km.score(X_test,y_test)  #indicates that 67% of the answers are correct.

/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.672645739910314

In [31]:
x_for_submit  = test[["Pclass","SibSp","Parch"]] # of siblings / spouses aboard the Titanic
submit  = test[["PassengerId"]]
submit["Survived"] = km.predict(x_for_submit)
submit

/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/var/folders/pg/6j_pvh8d1c58ksk8np5cmthr0000gn/T/ipykernel_4708/735671246.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit["Survived"] = km.predict(x_for_submit)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         0
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [32]:
submit.to_csv("submit01.csv",index=False) # Don't forget to ignore the index to follow the direction.

# Extract important features.

In [33]:
X  = train[["Pclass","SibSp","Parch","Sex"]] # of siblings / spouses aboard the Titanic
y  = train[["Survived"]]

In [34]:
X = pd.get_dummies(X,columns=["Pclass","Sex"]) # it is novel for me.
X

     SibSp  Parch  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male
0        1      0         0         0         1           0         1
1        1      0         1         0         0           1         0
2        0      0         0         0         1           1         0
3        1      0         1         0         0           1         0
4        0      0         0         0         1           0         1
..     ...    ...       ...       ...       ...         ...       ...
886      0      0         0         1         0           0         1
887      0      0         1         0         0           1         0
888      1      2         0         0         1           1         0
889      0      0         1         0         0           0         1
890      0      0         0         0         1           0         1

[891 rows x 7 columns]

In [35]:
X_train,X_test, y_train,y_test = train_test_split(X,y,random_state=0)

km = KNeighborsClassifier()
km.fit(X_train,y_train)
km.score(X_test,y_test)  #indicates that 79% of the answers are correct.

/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.7982062780269058

In [37]:
# try to use the column of fare
X  = train[["Pclass","SibSp","Parch","Sex","Fare"]] # of siblings / spouses aboard the Titanic
y  = train[["Survived"]]
X = pd.get_dummies(X,columns=["Pclass","Sex"]) # it is novel for me.

X_train,X_test, y_train,y_test = train_test_split(X,y,random_state=0)

km = KNeighborsClassifier()
km.fit(X_train,y_train)
km.score(X_test,y_test)  #indicates that 78% of the answers are correct. It is alomost same as privious analysis.

/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.7802690582959642

In [38]:
from sklearn.preprocessing import StandardScaler #Force the value to follow a normal distribution with Standard Scaler.

scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)


km = KNeighborsClassifier()
km.fit(X_train_scaled,y_train)
km.score(X_test_scaled,y_test)  #indicates that 81% of the answers are correct. It increased slightly

/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.8161434977578476

In [39]:
X_test_scaled

array([[-0.46037161, -0.47720996, -0.35409895, ...,  0.90562878,
        -0.72705166,  0.72705166],
       [-0.46037161, -0.47720996, -0.49064251, ...,  0.90562878,
        -0.72705166,  0.72705166],
       [ 2.98532288,  0.73949329, -0.06420947, ...,  0.90562878,
        -0.72705166,  0.72705166],
       ...,
       [-0.46037161, -0.47720996, -0.48619536, ...,  0.90562878,
        -0.72705166,  0.72705166],
       [ 1.26247564,  1.95619654,  4.54601107, ..., -1.10420519,
         1.37541808, -1.37541808],
       [ 0.40105202,  0.73949329, -0.30979142, ...,  0.90562878,
         1.37541808, -1.37541808]])

In [42]:
x_for_submit  = test[["Pclass","SibSp","Parch","Sex","Fare"]] # of siblings / spouses aboard the Titanic
submit  = test[["PassengerId"]]

x_for_submit = pd.get_dummies(x_for_submit,columns=["Pclass","Sex"]) 

x_for_submit['Fare'] = x_for_submit['Fare'].fillna(x_for_submit['Fare'].mean()) # handle the Na with mean of Fare
 
scaler = StandardScaler()
scaler.fit(x_for_submit) # Note! we can use the fit with only test data.

x_for_submit_scaled = scaler.transform(x_for_submit)

submit["Survived"] = km.predict(x_for_submit_scaled)
submit

/opt/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
/var/folders/pg/6j_pvh8d1c58ksk8np5cmthr0000gn/T/ipykernel_4708/2535342951.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit["Survived"] = km.predict(x_for_submit_scaled)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [43]:
submit.to_csv("submit02.csv",index=False) # Don't forget to ignore the index to follow the direction.

# Try other model

In [46]:
X  = train[["Pclass","SibSp","Parch","Sex","Fare"]] # of siblings / spouses aboard the Titanic
y  = train[["Survived"]]
X = pd.get_dummies(X,columns=["Pclass","Sex"]) # it is novel for me.

X_train,X_test, y_train,y_test = train_test_split(X,y,random_state=0)

scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [49]:
from sklearn.svm import LinearSVC # support vector machine
svc = LinearSVC()
svc.fit(X_train_scaled,y_train)

svc.score(X_test_scaled,y_test)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/anaconda3/lib/python3.9/site-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.7847533632286996

In [52]:
from sklearn.ensemble import RandomForestClassifier # Random Forest

rf = RandomForestClassifier()
rf.fit(X_train_scaled,y_train)

rf.score(X_test_scaled,y_test)

/var/folders/pg/6j_pvh8d1c58ksk8np5cmthr0000gn/T/ipykernel_4708/2445172082.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train_scaled,y_train)

0.8295964125560538

In [54]:
from sklearn.ensemble import GradientBoostingClassifier
gbrt = GradientBoostingClassifier()
gbrt.fit(X_train_scaled,y_train)
gbrt.score(X_test_scaled,y_test)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8026905829596412

In [55]:
x_for_submit  = test[["Pclass","SibSp","Parch","Sex","Fare"]] # of siblings / spouses aboard the Titanic
submit  = test[["PassengerId"]]

x_for_submit = pd.get_dummies(x_for_submit,columns=["Pclass","Sex"]) 
x_for_submit['Fare'] = x_for_submit['Fare'].fillna(x_for_submit['Fare'].mean()) # handle the Na with mean of Fare
 

x_for_submit_scaled = scaler.transform(x_for_submit)

submit["Survived"] = rf.predict(x_for_submit_scaled)
submit

/var/folders/pg/6j_pvh8d1c58ksk8np5cmthr0000gn/T/ipykernel_4708/3176607608.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submit["Survived"] = rf.predict(x_for_submit_scaled)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [56]:
submit.to_csv("submit03.csv",index=False) # Don't forget to ignore the index to follow the direction.