In [12]:
import pandas as pd
import numpy as np
import plotly.express as px

In [13]:
co2 = pd.read_csv('/Users/sahiyo/PycharmProjects/Data/co2.csv')
gm = pd.read_csv('/Users/sahiyo/PycharmProjects/Data/gapminder.csv')
gm.head()
#co2.head()

,Country,Year,fertility,life,population,child_mortality,gdp,region
0,Afghanistan,1964,7.671,33.639,10474903.0,339.7,1182.0,South Asia
1,Afghanistan,1965,7.671,34.152,10697983.0,334.1,1182.0,South Asia
2,Afghanistan,1966,7.671,34.662,10927724.0,328.7,1168.0,South Asia
3,Afghanistan,1967,7.671,35.170,11163656.0,323.3,1173.0,South Asia
4,Afghanistan,1968,7.671,35.674,11411022.0,318.1,1187.0,South Asia

In [11]:
df_gm = gm[["Country","region"]].drop_duplicates()
merged_df = pd.merge(co2, df_gm,left_on="country",right_on="Country",how="inner")
merged_df = merged_df.dropna('country',axis='columns')
new_co2 - pd.melt(merged_df,id_vars=['country','region'])
columns = ['country','region','year',co2]
new_co2.columns = columns
new_co2.head()

TypeError: dropna() got multiple values for argument 'axis'