In [35]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

Using the CO2 and Gapminder data, you need to create multiple visualizations using the Plotly Express library to understand which visualization best fits our data.

https://plotly.com/python/plotly-express/

In [22]:
co2 = pd.read_csv('/Users/sahiyo/PycharmProjects/Data/co2.csv')
gap = pd.read_csv('/Users/sahiyo/PycharmProjects/Data/gapminder.csv')

In [11]:
co2.info()
co2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Columns: 216 entries, country to 2014
dtypes: float64(215), object(1)
memory usage: 324.1+ KB

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0529,0.0637,0.0854,0.154,0.242,0.294,0.412,0.35,0.316,0.299
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3800,1.2800,1.3000,1.460,1.480,1.560,1.790,1.68,1.730,1.960
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.2200,2.9900,3.1900,3.160,3.420,3.300,3.290,3.46,3.510,3.720
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.3000,6.7500,6.5200,6.430,6.120,6.120,5.870,5.92,5.900,5.830
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9800,1.1000,1.2000,1.180,1.230,1.240,1.250,1.33,1.250,1.290

In [25]:
co2 = pd.melt(co2, id_vars='country', var_name='Year', value_name='CO2')

pd.melt() 関数は、データフレームの形状を変更するために使用される pandas の関数です。この関数を使用すると、幅広い形式のデータを「溶かして」または「融解して」、長い形式または縦型形式に変換できます。

具体的には、pd.melt() 関数は次のようなパラメータを受け取ります:

id_vars: 変換後のデータフレームで不変の列を指定します。これらの列はそのまま残ります。
value_vars: 変換後のデータフレームで値として使用される列を指定します。これにより、指定された列だけが溶かされます。指定しない場合、すべての列が値として使用されます。
var_name: 溶かされた列の名前を指定します。
value_name: 溶かされた値の列の名前を指定します。このパラメータは省略可能ですが、省略しない場合、指定する必要があります。
pd.melt() を適用することで、横方向に広がっているデータを縦方向に整理し、分析や可視化しやすい形式に変換することができます。

In [26]:
co2

           country  Year    CO2
0      Afghanistan  1800    NaN
1          Albania  1800    NaN
2          Algeria  1800    NaN
3          Andorra  1800    NaN
4           Angola  1800    NaN
...            ...   ...    ...
41275    Venezuela  2014  6.030
41276      Vietnam  2014  1.800
41277        Yemen  2014  0.865
41278       Zambia  2014  0.288
41279     Zimbabwe  2014  0.780

[41280 rows x 3 columns]

In [7]:
gap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10111 entries, 0 to 10110
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          10111 non-null  object
 1   Year             10111 non-null  int64
 2   fertility        10100 non-null  float64
 3   life             10111 non-null  float64
 4   population       10108 non-null  float64
 5   child_mortality  9210 non-null   float64
 6   gdp              9000 non-null   float64
 7   region           10111 non-null  object
dtypes: float64(5), int64(1), object(2)
memory usage: 632.1+ KB

In [9]:
gap.head()

,Country,Year,fertility,life,population,child_mortality,gdp,region
0,Afghanistan,1964,7.671,33.639,10474903.0,339.7,1182.0,South Asia
1,Afghanistan,1965,7.671,34.152,10697983.0,334.1,1182.0,South Asia
2,Afghanistan,1966,7.671,34.662,10927724.0,328.7,1168.0,South Asia
3,Afghanistan,1967,7.671,35.170,11163656.0,323.3,1173.0,South Asia
4,Afghanistan,1968,7.671,35.674,11411022.0,318.1,1187.0,South Asia

> Create a scatter plot with the x and y axes as year and co2 respectively. Add a box plot for the co2 values with the marginal_y parameter.

In [38]:
# fig = px.scatter(co2, x='Year', y='CO2', 
#                          title='CO2 Emissions Over the Years')
# 
# # Create box plot for CO2 values
# fig2 = px.box(co2, y='CO2', title='Distribution of CO2 Emissions',
#                  marginal='box', orientation='v')
# 
# # Combine scatter plot and box plot
# # fig3 = go.Figure(data=fig.data + fig2.data, layout=fig.layout)
# 
# # Show the combined figure
# fig2.show()

fig = px.scatter(co2, x="Year", y="CO2", color="country", marginal_y="violin",
           marginal_x="box", trendline="ols", template="simple_white")
fig.show()

ModuleNotFoundError: No module named 'statsmodels'

> Create a scatter plot with the x and y axes as gdp and co2 respectively. Add a box plot for the co2 values with the marginal_y parameter. Add a rug plot for the gdp values with the marginal_x parameter. Add animation parameters on the year column.

> Create a density contour plot with the x and y axes as gdp and co2 respectively. Add a box plot for the co2 values with the marginal_y parameter. Add a rug plot for the gdp values with the marginal_x parameter. Add animation parameters on the year column.