In [1]:
import pandas as pd
import dateutil as

In [2]:
df = pd.read_csv('/Users/sahiyo/PycharmProjects/Data/AirPassengers.csv')
print(df.head())

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [3]:
df['Month'] = pd.to_datetime(df['Month'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Month        144 non-null    datetime64[ns]
 1   #Passengers  144 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 2.4 KB

In [7]:
df['month'] = df['Month'].dt.month
df['year'] = df['Month'].dt.year
df['day'] = df['Month'].dt.day_name()
df

         Month  #Passengers  month  year       day
0   1949-01-01          112      1  1949  Saturday
1   1949-02-01          118      2  1949   Tuesday
2   1949-03-01          132      3  1949   Tuesday
3   1949-04-01          129      4  1949    Friday
4   1949-05-01          121      5  1949    Sunday
..         ...          ...    ...   ...       ...
139 1960-08-01          606      8  1960    Monday
140 1960-09-01          508      9  1960  Thursday
141 1960-10-01          461     10  1960  Saturday
142 1960-11-01          390     11  1960   Tuesday
143 1960-12-01          432     12  1960  Thursday

[144 rows x 5 columns]